.loginSignup{
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginSignupContainer{
  width: 580px;
  height: 600px;
  background: whitesmoke;
  margin: auto;
  padding: 40px 60px;
  
}
.LoginSignupContainer h1{
  margin: 5px 0px;
}
.LoginSignupFields{
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.LoginSignupFields input{
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  color: #5c5c5c;
  font-size: 18px;
}
.LoginSignupContainer button{
  width: 460px;
  height:62px;
  color: white;
  background: #ff4141;
  margin-top: 20px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.LoginSignupLogin{
  margin-top: 10px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.LoginSignupLogin span{
  color: #ff4141;
  font-weight: 600;
}
.LoginSignupAgree{
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}