.productDiplay{
  display: flex;
  margin: 0px 170px;
}
.productDisplayLeft{
  display: flex;
  gap: 17px;
}
.productDisplayImgList{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productDisplayImgList img{
  height: 163px;
}
.productDisplayMainImg{
  width: 586px;
  height: 700px;
}
.productDisplayRight{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.productDisplayRight h1{
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 700;
}
.productDisplayRightStar{
  display: flex;
  align-items: center;
  margin-top: 13px;
   gap: 5px;
   color: black;
   font-size: 16px;
}
.productDisplayRightPrices{
  display:flex;
   margin: 40px 0px;
   gap: 30px;
   font-size: 24px;
   font-weight: 700;
}
.productDisplayRightPricesOld{
  color: #818181;
  text-decoration: line-through;
}
.productDisplayRightPricesNew{
  color: #ff4141;
}
.productDisplayRightSize h1{
  margin-top: 55px;
  color: #818181;
  font-size: 20px;
  font-weight: 600;
}
.productDisplayRightSizes{
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}
.productDisplayRightSizes div{
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.productDisplayRight button{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.category{
  margin-top: 10px;
  font-weight: 600;
}